.nav_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: sticky;
}
.search_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 7px 10px;
  width: 30%;
}
.search_bar input {
  border: none;
  width: 90%;
}
.search_bar input::placeholder {
  font-weight: bold;
  color: black;
}
.search_bar input:focus {
  outline: none;
}

.form-input:focus {
  outline: none;
}
.sub_bar {
  padding: 0px 10px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sub_bar .items {
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}
.sub_bar .items:hover {
  background-color: #005cbe;
}
